body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../assets/v3.1.png');
  background-size: cover;
  background-position: center;
  font-family: monospace;
  color: #fefefe;
}

article {
  max-width: 320px;
  padding: 16px;
  border-radius: 16px;
  background-color: rgba(1, 5, 8, 0.5);
  backdrop-filter: blur(8px);
  text-align: center;
}

img {
  border-radius: 50%;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
  color: #bbb;
}

p {
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

a,
a:visited,
a:hover,
a:active {
  color: #fefefe;
  text-decoration: none;
  font-weight: bold;
}

.badge {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #23B5E8;
  color: #010508;
  font-size: 12px;
  font-weight: bold;
}
